first year/AaLFoDD/literature/
first year/AaLFoDD/test/
first year/AaLFoDD/test2/

first year/FoAaP/lectures/
first year/FoAaP/literature/

first year/Английский язык/
first year/Бел яз/
first year/ИКГ/
first year/ИстБГ/
first year/ЛАиАГ/
first year/Логика/
first year/МА/
first year/политология/
first year/Физика/